@import "tailwindcss" important;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-purple-light: #AEA1C9;
    --color-purple: #624699;
    --color-purple-dark: #230E36;
    --color-dark-gray: rgba(0, 0, 0, 0.7);
    /*на гитлабе поменять!!*/
    --color-purple-secondary: rgba(98, 70, 153, 0.7);
    --color-purple-dark-secondary: rgba(174, 161, 201, 0.7);
    /*не забыть*/
    --color-gray: rgba(252, 249, 255, 0.16);
    --color-error-primary: rgba(195, 63, 63, 1);
    --color-error-secondary: rgba(253, 169, 169, 0.16);
    --color-custom-shadow: rgba(174, 161, 201, 0.5);
    --color-white-secondary: rgba(255, 255, 255, 0.7);
    --gradient-purple-light: linear-gradient(to right, rgba(174, 161, 201, 0.5), rgba(174, 161, 201, 0.1));
    --color-purple-lighter-opacity: rgba(98, 70, 153, 0.5);
    --color-dark-theme: rgba(11, 1, 33, 1);
    --font-manrope: 'Manrope', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    --gradient-purple-lighter: linear-gradient(to bottom right, rgba(174, 161, 201, 0.4), rgba(174, 161, 201, 0.1));
    --gradient-purple-dark: linear-gradient(to bottom right, rgba(98, 70, 153, 0.4), rgba(98, 70, 153, 0.1));
    --gradient-light-to-purple: linear-gradient(to right, rgba(98, 70, 153, 0), rgba(174, 161, 201, 100));
    --gradient-dark-to-purple: linear-gradient(to right, rgba(174, 161, 201, 0), rgba(98, 70, 153, 100));
    --gradient-light-purple: linear-gradient(to right, rgba(174, 161, 201, 0.5), rgba(174, 161, 201, 0.1));
    --gradient-dark-purple: linear-gradient(to right, rgba(98, 70, 153, 0.5), rgba(98, 70, 153, 0.1));
    --color-purple-opacity: rgba(98, 70, 153, 0.22);
    --color-purple-light-opacity: rgba(174, 161, 201, 0.22);
    --shadow-inner-button: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
}
[data-theme="dark"] body {
    background-color: var(--color-dark-theme);
}

body {
    width: 1920px;
    height: 1080px;
    font-family: "Nunito", sans-serif;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
        @apply hidden;
    }

    h1 {
        @apply text-[48px] font-manrope;
    }

    h2 {
        @apply text-[40px] font-manrope;
    }

    h3 {
        @apply text-2xl font-manrope ;
    }

    h4 {
        @apply text-xl font-manrope font-light;
    }

    a {
        @apply hover:text-purple-light active:text-purple;
    }
}

@layer components {
    .hover\:custom-shadow:hover {
        box-shadow: 0 0 20px var(--color-custom-shadow);
    }

    .focus\:custom-shadow:focus {
        box-shadow: 0 0 20px var(--color-custom-shadow);
    }

    .hover\:custom-drop-shadow:hover {
        filter: drop-shadow(0 0 5px var(--color-purple));
    }

    .bg-gr-purple {
        background: var(--gradient-purple-light);
    }

    .bg-purple-gr {
        background: var(--gradient-purple-lighter);
    }

    [data-theme="dark"] .bg-purple-gr {
        background: var(--gradient-purple-dark);
    }

    .bg-light-to-purple-gr {
        background: var(--gradient-light-to-purple);
    }

    [data-theme="dark"] .bg-light-to-purple-gr {
        background: var(--gradient-dark-to-purple);
    }

    .shadow-purple-custom {
        box-shadow: 0 -2px 15px 0 var(--color-custom-shadow), 2px 0 15px 0 var(--color-custom-shadow), -2px 0 15px var(--color-custom-shadow);
    }

    [data-theme="dark"] .shadow-purple-custom {
        box-shadow: 0 -2px 15px 0 var(--color-purple-lighter-opacity), 2px 0 15px 0 var(--color-purple-lighter-opacity), -2px 0 15px var(--color-purple-lighter-opacity);
    }

    .bg-purple-gr-circle {
        background: linear-gradient(to bottom, var(--color-purple), var(--color-purple-secondary));
    }

    [data-theme="dark"] .bg-purple-gr-circle {
        background: linear-gradient(to bottom, var(--color-purple-light), rgba(174, 161, 201, 0.64));
    }

    .bg-gr-blocks {
        background: var(--gradient-light-purple);
    }

    [data-theme="dark"] .bg-gr-blocks {
        background: var(--gradient-dark-purple);
    }

    .shadow-inner-button {
        box-shadow: var(--shadow-inner-button);
    }
}

@layer utilities {
    .scrollbar {
        scrollbar-width: auto;
        scrollbar-color: var(--color-purple) white;
    }

    [data-theme="dark"] .scrollbar {
        scrollbar-width: auto;
        scrollbar-color: var(--color-purple-light) var(--color-dark-theme);
    }
}

:root {
    --color-search-select: white;
    --color-search-select-text: var(--color-dark-gray);
    --color-border-search-select-text: var(--color-purple-light);
    --color-menu-background: white;
    --color-input-text: black;
}

[data-theme="dark"] {
    --color-search-select: var(--color-gray);
    --color-search-select-text: white;
    --color-border-search-select-text: var(--color-purple);
    --color-menu-background: var(--color-purple);
    --color-input-text: white;
}
